<div class = "left tabs">
  <ul class = "something">
    <li> 
      <a href = "#" class = "tiny alert button compose"> COMPOSE </a>
    </li>
    <li> <a href = "#" >Inbox <i class = "fa fa-caret-square-o-down"></i></a> </li>
    <li> <a href = "#" >Starred </a></li>
    <li> <a href = "#" >Sent Mail </a></li>
    <li> <a href = "#" >Drafts </a></li>
    <li> 
      <a href ="#" >More <i class = "fa fa-caret-down"></i></a>
    </li>
  </ul>
</div>
