<nav class="nav row full-page">
  <div class="logo-section small-2 columns">
    <a href="#" class="google-link"> 
      <span ></span> 
    </a>
  </div>
  <div class="small-7 columns search-container">
    <div class="row collapse">
      <div class="small-9 columns">
        <%=text_field_tag 'search', nil, class: "search-field"%>
      </div>
      <div class="small-3 columns">
        <a href="#" class="search button tiny"> <i class="fa fa-search fa-lg"></i></a>
        <a href="#" data-dropdown="drop1" data-tooltip class="has-tip dropdown-link" title="Show search options"> <i class="fa fa-caret-down"></i></a>
      </div>
    </div>
  </div>
  <div class="icon-container small-3 columns ">
    <div class="row collapse">
      <div class="small-5 columns">
        <a href="#" class="grid-icon">  </a>
      </div>
      <div class="small-7 columns ">
        <a href="#" >dschepers@enova.com&nbsp;<i class="fa fa-caret-down"></i></a>
      </div>
    </div>
  </div>
</nav>
