div.outer{
  background-repeat: no-repeat;
  height: 600px;
  width: 600px;
  margin:auto;
}

div.inactive{
  background: url(../images/inactive.png);
}

div.active{
  background: url(../images/active.jpg);
}

div.exploded{
  background: url(../images/exploded.jpg);
  height: 525px;
}


