<div class="message-container">
  <div class="row full-page">
    <div class="message small-10 columns">
      <span> 
        <%=@email.subject %> <a href="#" class="button-pair">Inbox</a> 
        <a href="#" class="button-pair">x</a>
      </span>
      <span id="print-download">
        <i class="fa fa-print"></i>
        <i class="fa fa-share-square-o"></i>
      </span>
      <hr />
    </div>
    <div class="sender-details small-2 columns">
      <ul>
        <li> Lorem Ipsum </li>
        <li> <%=@email.sender%> </li>
        <li> 
          <i class="fa fa-envelope-o"></i>
          <i class="fa fa-caret-down"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
