.f-dropdown{
  text-indent:13%;
  width:130px;
  li .dd-link{
    padding-bottom:0px;
  }
}

.settings{
  width: 160px;
  li:first-child{
    text-indent: 5px;
    &:hover{
      cursor: default;
      background: white;
    }
  }
  input{
    display:none;
  }
  label{
    text-indent: 0px;
  }
  a{
    text-indent: 20px;
  }
  &:nth-of-type(4){
    background:black;
  }
}

.f-dropdown.narrow{
  max-width:116px;
}
