$gray: #f1f1f1;
$red: red;
$navbar-height: 60px;
$logo-section-width: 187px;
$padding: 10px;
.nav{
  width: 100%;
  background:$gray;
  height: $navbar-height;
  border: 1px solid rgba(0,0,0,0.1);
}

.google-link{
  position:relative;
  top: 2px;
  span{
    margin-top:12px;
    height:33px;
    width:95px;
    background-image: image-url('google_logo.png');
    background-size: 100%;
    display:block;
  }
}

.search-container.columns{
  position:fixed;
  width: 57%;
  left: $logo-section-width;
  padding-top:15px;
  height:$navbar-height;
}
#search.search-field{
  height:28px;
}
.search.button{
  border-top-right-radius:2px;
  border-bottom-right-radius:2px;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  line-height: 0px;
  height:28px;
  width:60px;
}

.dropdown-link{
  position:relative;
  right:85px;
  color:#DDDDDD;
  :hover{
    color:#404040;
  }
}

.row.full-page{
  max-width: initial;
  margin-left:0px;
  padding-left:$padding;
}

.icon-container{
  line-height:55px;
  a{
    color:#404040;
    font:13px/27px Arial, sans-serif;
    white-space: nowrap;
  }
  .grid-icon{
    float:right;
    margin-top:15px;
    height: 30px;
    width: 30px;
    background-size: 125px;
    background-position: -4px -560px;
    opacity: .55;
    background-image:image-url('//ssl.gstatic.com/gb/images/v2_e41a714c.png')
  }
  a:hover{
    color:#404040;
    opacity:1;
  }
}

